<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for API access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/hardhat_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hardhat_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmishingDetectionApp"
        tools:targetApi="31">

        <!-- Launcher Activity -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SmishingDetectionApp.NoActionBar" />

        <!-- OCR Activity -->
        <activity
            android:name=".OCRActivity"
            android:exported="true"
            android:theme="@style/Theme.SmishingDetectionApp.NoActionBar" />

        <!-- Registration Activities -->
        <activity
            android:name=".ui.Register.RegisterMain"
            android:exported="true" />
        <activity
            android:name=".ui.Register.EmailVerify"
            android:exported="true" />

        <!-- Detection Activities -->
        <activity
            android:name=".SmsActivity"
            android:exported="false" />
        <activity
            android:name=".SMSMessageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".detections.DetectionsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Content and Settings Activities -->
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".AboutMeActivity"
            android:exported="false" />
        <activity
            android:name=".NewsActivity"
            android:exported="false" />
        <activity
            android:name=".ReportingActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <!-- Debugging and Feedback -->
        <activity
            android:name=".DebugActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ForumActivity"
            android:exported="false" />

        <!-- Miscellaneous -->
        <activity
            android:name=".SmishingRulesActivity"
            android:exported="false" />
        <activity
            android:name=".TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <receiver android:name=".SmsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>

